.CheckoutForm_container{
    width: 400px;
    display: flex;
    flex-direction: column;

    background-color: #0000FF10;

}
.CheckoutForm_title{
    margin: 10px auto;
}
.CheckoutForm_button{
    margin: 10px auto;
    
}